<td class="name">{{model.name}}</td>
<td class="category">{{model.category}}</td>
<td class="energy_100g">{{model.energy_100g}}</td>
<td class="weight">{{model.weight}}</td>
<td class="energy">{{model.energy}}</td>

<td class="openFoodFactProduct">
    <a onclick="window.open('{{model.url}}','_blank');">
        {{#if model.openFoodFactProduct}}
            Details
        {{/if}}
    </a>
</td>

<td class="editOrDeleteItem">
    <button type="button" class="edit btn btn-default btn-sm" data-toggle="modal" data-target="#newItemModal">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" class="remove btn btn-default btn-sm">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</td>
</tr>