<td class="name">{{model.name}}</td>
<td class="category disableEditor">{{model.category}}</td>
<td class="energy_100g">{{model.energy_100g}}</td>
<td class="weight">{{model.weight}}</td>
<td class="energy">{{model.energy}}</td>
</tr>